<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bandbrary</title>

	<link rel="stylesheet" href="../../assets/css/bootstrap.css">
	<link rel="stylesheet" href="../../assets/css/bandbrary.css">
	<link rel="stylesheet" href="../../assets/css/semantic.css">

	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/jquery.address.min.js"></script>
	<script src="../../assets/js/semantic.min.js"></script>

	<style>
	body {
		background: url('../../images/noise-black.png');
	}
	#status-item {
		min-height: 150px;
		width: 305px;
		margin: 10px 10px 0px 0px;
	}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12" style="padding-top: 140px">
				<div class="ui items">
					<div id="status-item" class="item">
						<div class="content">
							<div class="meta">2 days ago</div>
							<div class="name">Cute Dog</div>
							<p class="description">This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.</p>
						</div>
					</div>
					<div id="status-item" class="item">
						<div class="content">
							<div class="meta">5 days ago</div>
							<div class="name">Faithful Dog</div>
							<p class="description">Sometimes its more important to have a dog you know you can trust. But not every dog is trustworthy, you can tell by looking at its smile.</p>
						</div>
					</div>
					<div id="status-item" class="item">
						<div class="content">
							<div class="meta">1 week ago</div>
							<div class="name">Silly Dog</div>
							<p class="description">Silly dogs can be quite fun to have as companions. You never know what kind of ridiculous thing they will do.</p>
						</div>
					</div>
					<div id="status-item" class="item">
						<div class="content">
							<div class="meta">1 week ago</div>
							<div class="name">Silly Dog</div>
							<p class="description">Silly dogs can be quite fun to have as companions. You never know what kind of ridiculous thing they will do.</p>
						</div>
					</div>
					<div id="status-item" class="item">
						<div class="content">
							<div class="meta">1 week ago</div>
							<div class="name">Silly Dog</div>
							<p class="description">Silly dogs can be quite fun to have as companions. You never know what kind of ridiculous thing they will do.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../assets/js/bandbrary.js"></script>
	<script></script>
</body>
</html>