	body{
		font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', Tahoma, Verdana, Arial, Sans-Serif;
		background: #D8D8D8 url('../../images/noise-2.png');
		-webkit-font-smoothing: antialiased;	
	}
	header{
		width: 100%;
		height: 40px;
		background-color: #E72A30;
		font-weight: bold;
		z-index: 100;
		-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
		box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
		position: fixed;
	}
	footer {
		width: 100%;
		height: 558px;
		background-color: #E72A30;
		position: absolute;
		top: 660px;
	}
	.footleft {
		width: 552px;
		height: 60px;
		background-color: #E72A30;
		position: absolute;
		top: 600px;
	}
	.footright {
		width: 552px;
		height: 60px;
		background-color: #E72A30;
		position: absolute;
		top: 600px;
		left: 729px;
	}
	.bb-logo{
		width: 177px;
		height: 65px;
		background-color: #E72A30;
		margin-left: 73px;
		margin-right: auto;
		-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
		float: left;
	}
	.bb-logo > img {
		width: 165px;
		height: 94px;
		margin-top: 19px;
		margin-left: 5px;
	}	
	.top-bg {
		width: 100%;
		height: auto;
		background: #333 url('../images/noise-black.png') 50% 50%;
		background-image: url('../images/profile-header-gradient.png'),url('../images/noise-black.png');
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5)inset;
		-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5)inset;
		box-shadow: 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5)inset;
		overflow: hidden;
	}
	.profile-cover {
		margin-left: auto;
		margin-right: auto;
	}
	.profile-cover > img {
		width: 100%;
		height: 448px;
		margin-top: 110px;
	}
	.navbar-item1 {
		float: left;
		font-size: 2.7rem;
		margin-left: 30px;
		color: #FFFFFF;
	}
	.navbar-item2 {
		float:left;
		height: 10px;
		font-size: 1em;
		margin-top: 5px;
	}
	.navbar-item3 {
		float: left;
		border-radius: 0px;
		background-color: none;
		color: #FFFFFF;
		margin-left: 200px;
	}
	.navbar-item4 {
		float: left;
		color: #FFFFFF;
		margin-top: 9px;
		margin-left: 11px;
		border-left: 1px solid rgba(0,0,0,.1);
	}
	.profile-image {
		float: left;
		width: 31px;
		height: 31px;
		margin-right: 0.2em
	}
	.line {
		border-top: 1px solid rgba(0, 0, 0, 0.05);
	}