	.container{
		width: 1170px !important;
	}
	html,
	body {
		font-size: 15px;
	}
	body {
		font-family: Arimo, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		background: #FFFFFF url('../../images/noise-2.png');
		-webkit-font-smoothing: antialiased;	
	}
	header{
		width: 100%;
		height: 40px;
		background-color: #E72A30;
		font-weight: bold;
		z-index: 100;
		-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
		box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
		position: fixed;
	}
	footer {
		width: 100%;
		height: 558px;
		background-color: #E72A30;
		position: absolute;
		top: 660px;
	}
	.footleft {
		width: 552px;
		height: 60px;
		background-color: #E72A30;
		position: absolute;
		top: 600px;
	}
	.footright {
		width: 552px;
		height: 60px;
		background-color: #E72A30;
		position: absolute;
		top: 600px;
		left: 729px;
	}
	.bb-logo{
		width: 177px;
		height: 65px;
		background-color: #E72A30;
		margin-left: 73px;
		margin-right: auto;
		-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
		float: left;
	}
	.bb-logo > img {
		width: 165px;
		height: 94px;
		margin-top: 19px;
		margin-left: 5px;
	}	
	.top-bg {
		width: 100%;
		height: auto;
		background: #333 url('../images/noise-black.png') 50% 50%;
		background-image: url('../images/profile-header-gradient.png'),url('../images/noise-black.png');
		-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
		box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
		overflow: hidden;
		border-bottom: 1px solid #000000;
	}
	.profile-cover {
		width: 1140px;
		height: 448px;
		margin-top: 110px;
		margin-left: auto;
		margin-right: auto;
		opacity: 50;
	}
	.profile-cover img {
		width: 1140px;
		height: 448px;
	}
	.navbar-item1 {
		float: left;
		font-size: 2.7rem;
		color: #FFFFFF;
	}
	.navbar-item2 {
		float:left;
		height: 10px;
		font-size: 1em;
		margin-top: 5px;
	}
	.navbar-item3 {
		float: left;
		border-radius: 0px;
		background-color: none;
		color: #FFFFFF;
		margin-left: 220px;
	}
	.navbar-item4 {
		float: left;
		color: #FFFFFF;
		margin-top: 9px;
		margin-left: 11px;
		border-left: 1px solid rgba(0,0,0,.1);
	}
	.profile-pic1 {
		float: left;
		width: 31px;
		height: 31px;
		margin-right: 0.2em
	}
	.line {
		border-top: 1px solid rgba(0, 0, 0, 0.05);
	}
	.fileUpload {
		position: relative;
		overflow: hidden;
	}
	.fileUpload input.upload {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	#img-preview {
		width: 73px;
		height: 73px;
	}

	/*--- Login ---*/
	#login-hea-text {
		font-weight: bold;
	}
	#login-form-full {
		padding: 40px;
	}

	/*--- Profile ---*/
	.profile-name {
		position: absolute;
		top: -80px;
		left: 250px;
		font-weight: bolder;
		color: #FFFFFF;
	}
	.punpun {
		position: relative;
		z-index: 50;
	}
	#profile-pic2 {
		height: 180px;
		width: 180px;
		position: absolute;
		top: -155px;
		left: 40px;
	}
	.profile-name #pn1 {
		font-weight: bolder;
		font-size: 25px;
	}
	.profile-name #pn2 {
		font-weight: 200;
		font-size: 18px;
	}
	.menu-profile {
		height: 40px;
		background-color: #FFFFFF;
		padding-left: 230px;
		padding-right: 150px;
		-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
		box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
	}
	.status {
		width: 277px;
		height: 160px;
		margin-top: 14px;
		background-color: #F7F6F6;
		-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
		box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
	}
	#bg-status {
		background-color: #FFFBC7;
	}
	.title-box {
		width: 277px;
		height: 40px;
		background-color: #FFFFFF;
		padding-top: 12px;
		padding-left: 15px;
		font-weight: 500;
		font-size: 12px;
	}
	.about {
		width: 277px;
		margin-top: 14px;
		background-color: #F7F6F6;
		-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
		box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
	}
	.member {
		width: 277px;
		margin-top: 14px;
		background-color: #F7F6F6;
		-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
		box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
	}
	#member-pic {
		width: 5em;
		height: 5em;
	}
	#member-nam {
		margin-top: 19px;
	}
	.center {
		width: 666px;
		background-color: transparent;
	}
	.advt {
		width: 164px;
		height: 276px;
		margin-top: 14px;
		background-color: #FFFFFF;
		border: 4px solid #E72A30;
	}
	#greedd ,#ungreedd{
		position: absolute;
		top: -55px;
		left: 865px;
		font-size: 12px;
		padding-left: 10px;
		border-radius: 0em;
	}
	#greedd .icon {
		font-size: 1em;
	}
	#joinBand {
		position: absolute;
		top: -55px;
		left: 985px;
	}
	#joinBand .icon {
		font-size: 1.049em;
		border-top-right-radius: 0em;
		border-bottom-right-radius: 0em;
	}
	#joinBand .menu {
		width: 114px;
		border-radius: 0em;
	}
	.create-post {
		width: 204px;
		height: 264px;
		background-color: #F7F6F6;
		float: left;
		margin-left: 15px;
		margin-top: 14px;
		border: 2px dashed #D6D6D6;
		-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
		box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
	}
	.view-post {
		width: 204px;
		height: 264px;
		background-color: #FFFFFF;
		float: left;
		margin-left: 15px;
		margin-top: 14px;
		-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
		box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
	}
	.post-date {
		float: left;
		width: 80px;
		height: 98px;
		background-color: #E72A30;
		margin-left: 10px;
		margin-top: 10px;
		text-align: center;
		padding-top: 12px;
		word-wrap: break-word;
	}
	.post-day {
		color: #FFFFFF;
		font-size: 18px;
		font-weight: 800;
		word-wrap: break-word;
	}
	.post-month {
		color: #FFFFFF;
		font-size: 16px;
		font-weight: 200;
		margin-top: 5px;
		word-wrap: break-word;
	}
	.post-heading {
		float: left;
		width: 95px;
		height: 98px;
		border: 1px solid #000000;
		margin-left: 10px;
		margin-top: 10px;
		font-size: 18px;
		font-weight: 600;
		word-wrap: break-word;
	}
	.post-body {
		float: left;
		width: 185px;
		height: 100px;
		border: 1px solid #000000;
		margin-left: 10px;
		margin-top: 10px;
		font-size: 14px;
		word-wrap: break-word;
	}
	.post-white-line {
		width: 60px;
		height: 5px;
		background-color: #FFFFFF;
		margin-left: 10px;
		margin-top: 10px;
	}
	.icon-comment {
		float: left;
		width: 185px;
		height: 25px;
		margin-left: 10px;
		margin-top: 10px;
		padding-top: 3px;
	}
	.amount-comment {
		float: left;
		font-weight: 600;
		margin-top: 3px;
		font-size: 0.85em;
	}
	#status-button {
		position: absolute; 
		z-index: 50;
		top: 5px;
		left: 266px;
		border-radius: 10px;
		font-size: 1rem;
	}
	#create-post-button {
		margin-left: 70px; 
		margin-top: 75px; 
		border-radius: 15px; 
		background-color: transparent; 
		background-image: none;
		-webkit-box-shadow: none;
	}

	/*--- Setting -->*/
	#join-rq {
		height: 75px;
		width: 570px;
		border: 1px solid #EBEBEB;
	}
	.jb1 {
		width: 73px;
		height: 73px;
		float: left;
	}
	.jb2 {
		width: 73px;
		height: 73px;
		float: left;
		margin-top: 7px;
		margin-left: 9px;
	}
	.jb3 {
		float: left;
		margin-top: 21px;
		margin-left: 200px;
	}


	/*--- Navigation ---*/

	header .ui.basic.buttons {
		-webkit-box-shadow: none; 
		box-shadow: none; 
		border-radius: 0px;
		margin-bottom: 3px;
	}
	header .ui.basic.button, .ui.basic.buttons .button {
		color: white!important;
	}
	header .ui.button, .ui.buttons .button {
		font-size: 1.2rem!important;
	}
	header i.icon {
		margin: 0px;
		font-size: 2rem;
	}
	header .ui.input input {
		font-size: 0.7em;
		width: 240px;
		margin-left: 20px;
	}
	header .ui.icon.input > .icon {
		padding-top: .7em;
	}
	header .ui.menu {
		background-color: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0px;
		color: #FFFFFF;
	}
	header .ui.menu .item, .ui.menu .item>a:not(.button) {
		color: #FFFFFF;
	}
	header .ui.menu .item {
		font-size: 1.2rem;
		font-weight: 400px;
		padding: 0px;
		margin-top: 4px;
	}
	header .ui.menu .active.item {
		color: #FFFFFF;
		background-color: none;
	}
	header .user-name {
		float: left;
		margin-top: 10px;
		margin-left: 6px;
	}
	header .ui.dropdown .menu .item {
		font-size: 1.2rem;
		border-top: 0px;
	}
	header .ui.dropdown .menu {
		left: -43px;
	}
	header .ui.dropdown > .dropdown.icon {
		margin: 0.8em 0 0 0.8em;
	}