.container {
	width: 980px!important;
} 
body {
	font-family: Arimo, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.875em;
	background: #FFFFFF url('../../images/noise-2.png');
	-webkit-font-smoothing: antialiased;	
}
header{
	width: 100%;
	height: 40px;
	background-color: #E72A30;
	font-weight: bold;
	z-index: 1500;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	position: fixed;
	/*	opacity: 0.9;*/
}

@media all and (max-width: 980px) {
	header {
		position: relative;
		width: 980px;
	}
}

footer {
	width: 100%;
	height: 750px;
	margin-top: 70px;
	position: relative;
	bottom: 0;
	background-color: #E72A30;
}
.footleft {
	width: 661px;
	height: 46px;
	background-color: #E72A30;
	float: left;
	position: relative;
	bottom: 46px;
}
.footright {
	width: 614px;
	height: 46px;
	background-color: #E72A30;
	float: right;
	position: relative;
	bottom: 46px;
}

@media all and (max-width: 1680px) {
	footer {
		width: 1680px;
		height: 900px;
	}
	.footleft {
		width: 781px;
	}
	.footright {
		width: 734px;
	}
}

@media all and (max-width: 1280px) {
	footer {
		width: 1280px;
	}
	.footleft {
		width: 581px;
	}
	.footright {
		width: 534px;
	}
}

@media all and (max-width: 1024px) {
	footer {
		width: 1024px;
	}
	.footleft {
		width: 453px;
	}
	.footright {
		width: 406px;
	}
}
@media all and (max-width: 980px) {
	footer {
		width: 980px;
		height: 100px;
		background-color: #000000;
	}
	.footleft {
		width: 0px;
		height: 0px;
		background-color: transparent;
		float: none;
		position: relative;
		bottom: 0px;
	}
	.footright {
		width: 0px;
		height: 0px;
		background-color: transparent;
		float: none;
		position: relative;
		bottom: 0px;
	}
}
.bb-logo{
	width: 165px;
	height: 65px;
	background-color: #E72A30;
	margin-left: 35px;
	margin-right: auto;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	float: left;
}
.bb-logo > img {
	width: 152px;
	height: 67px;
	margin-top: 22px;
	margin-left: 5px
}
.bb-player {
	float: left;
	margin-top: 6px;
	margin-left: 30px;
}	
.bb-player > img {
	width: 210px;
}
.profile-cover {
	height: 300px;
}
.profile-cover img {
	width: 2560px;
	height: 400px;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
}
@media screen and (max-width: 2560px) {
	.profile-cover img {
		width: 2560px;
	}
}
@media screen and (max-width: 1920px) {
	.profile-cover img {
		width: 1920px;
	}
}
@media screen and (max-width: 1680px) {
	.profile-cover img {
		width: 1680px;
	}
}
@media screen and (max-width: 1440px) {
	.profile-cover img {
		width: 1440px;
	}
}
@media screen and (max-width: 1280px) {
	.profile-cover img {
		width: 1280px;
	}
}
@media screen and (max-width: 1024px) {
	.profile-cover img {
		width: 1024px;
	}
}
@media screen and (max-width: 980px) {
	.profile-cover img {
		width: 980px;
	}
}
#bb-feed {
	float: left;
	-webkit-font-smoothing: auto;
	border-radius: 0px;
	margin-top: 7px;
}
#navbar-item1 {
	float: left;
	margin: 0px;
	color: #FFFFFF;
	-webkit-font-smoothing: auto;
	border-radius: 0px;
	background-color: transparent;
	font-weight: bold;
}
#navbar-item2 {
	float:left;
	height: 10px;
	font-size: 1em;
	margin-top: 6px;
}
#navbar-item3 {
	float: left;
	border-radius: 0px;
	background-color: transparent;
	color: #FFFFFF;
	margin: 0px 0px 0px 50px;
}
.navbar-username {
	float: left;
	margin-left: 9px;
	margin-top: 7px;
	font-weight: 500;
	-webkit-font-smoothing: auto;
}
#navbar-item4 {
	float: left;
	color: #FFFFFF;
	margin-top: 9px;
	margin-left: 5px;
}
#navbar-item5 {
	margin-top: 10px;
	margin-left: 14px;
}
.profile-pic1 {
	float: left;
	width: 28px;
	height: 28px;
	border: 1px solid #FFFFFF;
	border-radius: 1px;
}
.line {
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.file-upload {
	position: relative;
	overflow: hidden;
}
.file-upload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
#img-preview {
	max-width: 73px;
	max-height: 73px;
	vertical-align: middle;
}
#notification {
	padding: 0.2em 0.3em; 
	margin: 0.5em 0em 0em -1.5em !important;
	background-color: #3C3B3B !important;
}
#pm {
	padding: 0.2em 0.3em; 
	margin: 0.5em 0em 0em -1.5em !important;
	background-color: #3C3B3B !important;
}

/*--- Login ---*/
#login-hea-text {
	font-weight: bold;
}
#login-form-full {
	padding: 40px;
}

/*--- Profile ---*/
.bb-count {
	font-weight: 200;
	font-size: 0.85em;
}
.profile-name {
	position: absolute;
	top: -70px;
	left: 235px;
	font-weight: bolder;
	color: #FFFFFF;
}
.punpun {
	position: relative;
	z-index: 50;
}
#profile-pic2 {
	height: 170px;
	width: 170px;
	position: absolute;
	top: -150px;
	left: 40px;
}
.profile-name #pn1 {
	font-weight: bolder;
	font-size: 25px;
	text-shadow: black 0.1em 0.1em 0.1em;
}
.profile-name #pn2 {
	font-weight: 200;
	font-size: 18px;
	text-shadow: black 0.1em 0.1em 0.1em;
}
.menu-profile {
	height: 40px;
	background-color: #FFFFFF;
	padding-left: 230px;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
}
#menu-items {
	font-size: 0.95rem;
	padding: 0.83em 0.9em 0.83em 0.9em;
	font-weight: 800;
	width: 125px;
	height: 40px;
	text-align: center;
}
#status-user {
	height: 130px;
	padding: 0px;
	margin-top: 20px;
	background-color: #000000; 
}
#status-band {
	height: 130px;
	padding: 0px;
	margin-top: 20px;
	background-color: #E72A30; 
}
#status-button {
	position: absolute;
	z-index: 50;
	top: 8px;
	left: 215px;
	border-radius: 1px;
	font-size: 1.1em;
	padding: 0.6em;
}
#status-msg {
	width: 100%;
	height: 124px;
	padding: 10px;
	background-color: #FFFFFF; 
	display: table;
}
.title-box-user {
	width: 100%;
	height: 40px;
	background-color: #FFFFFF;
	color: #000000;
	padding-top: 12px;
	padding-left: 15px;
	font-weight: 400;
	font-size: 14px;
}
.title-box-band {
	width: 100%;
	height: 40px;
	background-color: #E72A30;
	color: #FFFFFF;
	padding-top: 12px;
	padding-left: 15px;
	font-weight: 400;
	font-size: 14px;
}
.about {
	width: 100%;
	margin-top: 14px;
	background-color: #F7F6F6;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
}
.about .ui.list .description {
	word-wrap: break-word;
}
.member {
	width: 277px;
	background-color: #F7F6F6;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
}
.center {
	width: 100%;
	margin-top: 20px;
	background-color: transparent;
}
#greedd ,#ungreedd{
	position: absolute;
	top: -55px;
	left: 865px;
	font-size: 12px;
	padding-left: 10px;
	border-radius: 0em;
}
#greedd .icon {
	font-size: 1em;
}
#user-follow {
	position: absolute;
	top: -65px;
	left: 640px;
}
#band-follow {
	position: absolute;
	top: -65px;
	left: 640px;
}
#join-band {
	position: absolute;
	top: -145px;
	left: 765px;
}
#join-band .icon {
	font-size: 1em;
	border-top-right-radius: 0em;
	border-bottom-right-radius: 0em;
}
#join-band .menu {
	width: 141px;
	border-radius: 0em;
}
#band-member {
	width: 100%;
	float: left;
	padding: 15px;
	position: relative;
	z-index: 20;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
}
#band-member .item {
	float: left; 
	text-align: center; 
	margin-left: 25px;
}
#band-member .ui.avatar.image {
	width: 80px;
	height: 80px;
}
#member-img{
	margin-left: 5px;
}
#member-size {
	width: 155px;
	height: 130px;
}
#join-img {
	margin-left: 5px;
	opacity: 0.5;
}

/*--- follow ---*/
.follow-menu {
	width: 100%;
	margin-top: 14px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
}

/*--- Post ---*/
.create-post {
	width: 224px;
	height: 300px;
	background-color: #F7F6F6;
	float: left;
	margin-top: 20px;
	margin-left: 11px;
	border: 2px dashed #D6D6D6;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
}
.view-post {
	background-color: #F7F6F6; 
	margin-top: 14px;
	margin-left: 4px;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
	word-wrap: break-word;
	padding: 25px;
}
.preview-post {
	width: 224px;
	height: 300px;
	background-color: #FFFFFF;
	float: left;
	margin-top: 20px;
	margin-left: 11px;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05);
}
@media all and (max-width: 980px) {
	.create-post {
		margin-left: 16px;
	}
	.preview-post {
		margin-left: 16px;
	}
}
.post-date {
	float: left;
	width: 80px;
	height: 98px;
	background-color: #E72A30;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
	padding-top: 12px;
	word-wrap: break-word;
}
.post-day {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 800;
	word-wrap: break-word;
}
.post-month {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 200;
	margin-top: 5px;
	word-wrap: break-word;
}
.post-heading {
	float: left;
	width: 95px;
	height: 98px;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 600;
	word-wrap: break-word;
}
.post-body {
	float: left;
	width: 185px;
	height: 138px;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 14px;
	word-wrap: break-word;
}
.post-white-line {
	width: 60px;
	height: 5px;
	background-color: #FFFFFF;
	margin-left: 10px;
	margin-top: 10px;
}
.icon-comment {
	float: left;
	width: 185px;
	height: 25px;
	margin-left: 10px;
	margin-top: 10px;
	padding-top: 3px;
}
.amount-comment {
	float: left;
	font-weight: 600;
	margin-top: 3px;
	font-size: 0.85em;
}
#create-post-button {
	margin-left: 70px; 
	margin-top: 85px; 
	border-radius: 15px; 
	background-color: transparent; 
	background-image: none;
	-webkit-box-shadow: none;
}
.create-post-text {
	color: #D6D6D6; 
	margin-left: 70px; 
	margin-top: 10px; 
	font-size: 1.3em; 
	font-weight: 600;
}

/*--- Setting -->*/
#join-rq {
	height: 75px;
	width: 540px;
	border: 1px solid #EBEBEB;
}
.jb1 {
	width: 73px;
	height: 73px;
	float: left;
}
.jb2 {
	width: 200px;
	height: 73px;
	float: left;
	margin-top: 7px;
	margin-left: 9px;
	font-weight: 600;
}
.jb3 {
	float: left;
	margin-top: 21px;
	margin-left: 95px;
}

/*--- Feed ---*/
#feed-left {
	background: #edeeef url('../../images/noise-2.png');
}
#feed-center {
	background: #e0e1e2 url('../../images/noise-2.png');
	box-shadow: inset 1px 0 0 rgba(0,0,0,.05),inset -1px 0 0 rgba(0,0,0,.05);
	border: 1px solid rgba(0,0,0,.1);
	padding: 0px 30px 30px 30px;

}
#feed-right {
	background: #edeeef url('../../images/noise-2.png');
}
.feed-box {
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.08);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,.08);
	box-shadow: 0 0 15px rgba(0,0,0,.08);
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid rgba(0,0,0,.35);
}
.feed-user {
	margin-left: 47px;
}
.feed-name {
	text-align: right;
	float: left;
}
.user-avatar {
	float: left;
	margin-left: 7px;
}
.user-avatar > img {
	width: 2.5em;
	height: 2.5em;
}
.advt {
	width: 100%;
	height: 287px;
	background-color: #FFFFFF;
	border: 4px solid #E72A30;
	padding: 10px;
	word-wrap: break-word;
}

/*--- Timeline --*/
.audio-player {
	width: 614px;
	margin-top: 30px;
	margin-bottom: 20px;
}
#timeline-btn {
	padding: 0.7em 0.8em;
	margin-bottom: 10px;
}

/*--- Music ---*/
.audio-player {
	width: 614px;
	margin-top: 30px;
	margin-bottom: 20px;
}
#timeline-btn {
	padding: 0.7em 0.8em;
	margin-bottom: 10px;
}
.album-group { 
	max-width: 980px; 
	overflow-x: scroll; 
	white-space: nowrap;
}
.album-cover1 {
	width: 150px;
	height: 150px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
	margin-bottom: 25px;
}
.album-cover2 {
	width: 35px;
	height: 35px;
	margin-right: 5px;
}
/*-- Discover --*/
.discover-top {
	width: 2560px;
	height: 260px;
	padding-top: 120px;
	padding-left: 150px;
	background: url('../../images/mixer.jpg');
	border-top: 1px solid #E72A30;
	border-bottom: 1px solid #717171;;
	opacity: 0.9;
}
@media screen and (max-width: 2560px) {
	.discover-top {
		width: 2560px;
	}
}
@media screen and (max-width: 1920px) {
	.discover-top {
		width: 1920px;
	}
}
@media screen and (max-width: 1680px) {
	.discover-top {
		width: 1680px;
	}
}
@media screen and (max-width: 1440px) {
	.discover-top {
		width: 1440px;
	}
}
@media screen and (max-width: 1280px) {
	.discover-top {
		width: 1280px;
	}
}
@media screen and (max-width: 1024px) {
	.discover-top {
		width: 1024px;
	}
}
@media screen and (max-width: 980px) {
	.discover-top {
		width: 980px;
	}
}
.discover-header {
	font-size: 50px;
	font-weight: 900;
	color: #FFFFFF;
}


/*--- Job ---*/
#job-btn-add {
	top: 500px;
	position: fixed;
	z-index: 100;
	margin-left: 160px;
	font-size: 16px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
}
#job-btn-menu {
	top: 500px;
	position: fixed;
	z-index: 100;
	margin-left: 160px;
	margin-top: 55px;
	font-size: 16px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
}
.job-top {
	width: 2560px;
	height: 260px;
	padding-top: 120px;
	padding-left: 150px;
	background: url('../../images/disc.jpg');
	border-top: 1px solid #E72A30;
	border-bottom: 1px solid #E72A30;
	opacity: 0.9;
}

@media screen and (max-width: 2560px) {
	.job-top {
		width: 2560px;
	}
}
@media screen and (max-width: 1920px) {
	.job-top {
		width: 1920px;
	}
}
@media screen and (max-width: 1680px) {
	.job-top {
		width: 1680px;
	}
}
@media screen and (max-width: 1440px) {
	.job-top {
		width: 1440px;
	}
}
@media screen and (max-width: 1280px) {
	.job-top {
		width: 1280px;
	}
}
@media screen and (max-width: 1024px) {
	.job-top {
		width: 1024px;
	}
}
@media screen and (max-width: 980px) {
	.job-top {
		width: 980px;
	}
}
.job-hea1 {
	font-size: 50px;
	font-weight: 900;
	color: #FFFFFF;
}
.job-hea2 {
	font-size: 22px;
	margin-top: 50px;
}
.job-red-line {
	width: 170px;
	height: 6px;
	background-color: #E72A30;
	margin-left: 10px;
	margin-top: 10px;
}
.job-location {
	font-size: 12px;
	opacity: 0.5;
}
#job-icon {
	margin: 0px; 
	opacity: 0.5; 
	margin-left: 7px;
}
#preview-job {
	min-height: 365px;
	word-wrap: break-word;
}
.job-total {
	font-weight: 900;
	color: #E72A30;
}
.job-img {
	width: 214px; 
	height: 214px;
}
.job-control {
	position: relative;
	z-index: 100;
	margin-left: 40px;
}

/*--- Event ---*/
.event-hea {
	padding: 10px;
	font-size: 16px;
}
.eh1 {
	color: #D95C5C;
	font-weight: bold;
	padding-left: 31px;
}
.eh2 {
	padding-left: 79px;
	font-weight: 400;
}
.eh3 {
	padding-left: 25px;
	font-weight: bold;
}
.eh4 {
	color: #D95C5C;
	font-weight: bold;
}
.eh5 {
	padding-left: 14px;
	font-weight: 400;
}
.eh6 {
	padding-left: 18px;
	font-weight: bold;
}
#event-add-btn {
	margin-left: 510px;
	margin-bottom: 15px;
	font-size: 0.8rem;
}

/*--- Navigation ---*/

#bb-search {
	width: 200px;
	margin-left: 7px;
	border-radius: 0px;
}
#navbar-reorder {
	font-size: 1.4em;
	color: #FFFFFF;
	border-left: 1px solid #FFFFFF;
	padding-left: 10px;
}
header .ui.menu .item:before {
	width: 0px;
}

/*--- Private Message ---*/
#pm-container {
	border-left: 1px solid rgba(0, 0, 0, 0.14); 
	border-right: 1px solid rgba(0, 0, 0, 0.14); 
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	box-shadow: 0 1px 1px rgba(0,0,0,.24),0 1px 5px rgba(0,0,0,.05); 
}
#pm-inbox ,#pmband-inbox {
	height: 544px;
	overflow-y: scroll; 
	scrollbar-arrow-color:blue; 
	scrollbar-face-color: #e7e7e7; 
	scrollbar-3dlight-color: #a0a0a0; 
	scrollbar-darkshadow-color:#888888
}
#pm-msg {
	height: 430px;
	overflow-y: scroll; 
	border-left: 15px solid #F7F6F6;
	border-right: 15px solid #F7F6F6;
	scrollbar-arrow-color:blue; 
	scrollbar-face-color: #e7e7e7; 
	scrollbar-3dlight-color: #a0a0a0; 
	scrollbar-darkshadow-color:#888888
}
.pm-profile-pic {
	height: 3em;
	width: 3em;
	margin-right: 10px!important;
}

/*--- Discover ---*/
.discover-item1 {
	width: 207px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	word-wrap: break-word;
}
.discover-cover1 {
	width: 207px;
}

.discover-item2 {
	width: 120px;
	display: inline-block;
	margin-right: 30px; 
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border-radius: 10px;
	word-wrap: break-word;
}
.discover-cover2 {
	width: 120px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.discover-item3 {
	width: 140px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	word-wrap: break-word;
}
.discover-cover3 {
	width: 140px;
}
.top-song {
	float: left;
}
.discover-content {
	padding: 10px;
}